<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- CSS -->
    <link href="assets/css/index.css" rel="stylesheet" type="text/css">
    <link href="assets/css/newIndex.css" rel="stylesheet" type="text/css">
    <script src="http://www.jq22.com/jquery/jquery-1.10.2.js"></script>
</head>
<body class="allBg">
<div class="leftCon">
    <div class="commonDiv">
        <div class="work"><p>安装设备<span class="english">&nbsp;&nbsp;Installation Equipment</span></p></div>
        <div class="iconList">
            <ul>
                <li><img src="assets/img/smoke.png"><span>烟感(20个)</span></li>
                <li><img src="assets/img/water.png"><span>水压(20个)</span></li>
                <li><img src="assets/img/Elevator.png"><span>门禁(20个)</span></li>
            </ul>
        </div>
        <div class="iconList2">
            <ul>
                <li><p><a href="#">日志</a></p></li>
                <li><p><a href="#">周志</a></p></li>
                <li><p><a href="#">月志</a></p></li>
                <li><p><a href="#">日报警</a></p></li>
                <li><p><a href="#">周报警</a></p></li>
                <li><p><a href="#">月报警</a></p></li>
            </ul>
        </div>
        <div class="backBtn">
            <a href="#">
                <img src="assets/img/home.png">
                <span>返回指挥中心</span>
            </a>
        </div>
    </div>
</div>

<div class="rightCon">
    <div class="commonDiv">
        <div class="work"><p>报警情况<span class="english">&nbsp;&nbsp;&nbsp;Alarm Situation</span></p></div>
        <ul class="alarmList">
            <li>
                <img src="assets/img/smoke.png">

                <div class="Alarm_equipment">【烟感】</div>

                <div class="Alarm_position">桃浦五村迎春苑</div>

                <div class="Alarm_data">25</div>
            </li>
            <li>
                <img src="assets/img/smoke.png">

                <div class="Alarm_equipment">【烟感】</div>

                <div class="Alarm_position">桃浦五村迎春苑</div>

                <div class="Alarm_data">25</div>
            </li>
        </ul>
    </div>
</div>

<div class="centerCon">
    <div class="commonDiv">
        <div class="work"><p class="myMargin">月志<span class="english">&nbsp;&nbsp;Month Journal</span></p></div>
        <div class="week">

            <table width="96%" border="0" cellspacing="1" cellpadding="0">

                <tbody><tr>

                    <td>&nbsp;</td>

                    <td>烟感</td>

                    <td>水压</td>

                    <td>门禁</td>

                </tr>

                <tr>

                    <td>2018.04.01~2018.04.07</td>

                    <td>22</td>

                    <td>16</td>

                    <td>20</td>

                </tr>

                <tr>

                    <td>2018.04.8~2018.04.15</td>

                    <td>22</td>

                    <td>16</td>

                    <td>20</td>

                </tr>

                <tr>

                    <td>2018.04.16~2018.04.22 </td>

                    <td>22</td>

                    <td>16</td>

                    <td>20</td>

                </tr>

                <tr>

                    <td>2018.04.22 ~2018.04.28 </td>

                    <td>22</td>

                    <td>16</td>

                    <td>20</td>

                </tr>

                <tr>

                    <td>2018.04.29 ~2018.04.30 </td>

                    <td>22</td>

                    <td>16</td>

                    <td>20</td>

                </tr>

                </tbody></table>

        </div>
    </div>

</div>
</body>
</html>