{% load static %}
<!doctype html>
<html>
<head>
<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="renderer" content="webkit" />
<meta name="viewport" content="width=1200" />
<title>安装设备</title>
<link rel="stylesheet" type="text/css" href="{% static 'css/css.css' %}">
<!--[if IE 6]>
<script type="text/javascript">
document.execCommand("BackgroundImageCache", false, true);
</script>
<![endif]-->
<!--[if lt IE 9]>
<script type="text/javascript" src="js/html5.js"></script>
<![endif]-->
</head>
<body class="white_body">

	<div class="header w_auto">
	
    	<div class="w_w">
	
    		<h1 class="fl png_img logo"><a href="/com_index/"><img src="{% static 'images/logo.png' %}" alt="" width="100%;"></a></h1>
	
    		<div class="r_cell header_r">
	
    			<ul class="fr header_admin red_link png_img">
	
    				<li class="ann_li">
                    
                        <a href="###">
        
                        	<img src="{% static 'images/icon/admin.png' %}" alt="消息">
                        
                        </a>
	
    					<div class="sec_ann">
	
    						<div class="sec_ann_box round_m">  
    
    						<div class="ann_box"> 
	
    							<p><a href="#">个人中心</a></p>
	
    							<p ><a href="#" >帐号设置</a></p>
	
    							<p ><a href="#">意见反馈</a></p>
	
    							<p><a href="/com_login/" >退出</a></p>
                                	
    						</div>
	
    						</div>
	
    					</div>
     
                         <a href="###">admin</a></li>
                         
                </ul>
	
    			<!--end关于我-->
	
    			<div class="header_r_l r_cell">
	
    				<div class="h_search fl transition_a">
                    
                        <input type="button" class="png h_search_btn" >
                        
                        <input type="text" class="h_search_text" placeholder="请输入项目名称或选择区域">
                    
                    </div>
	
    				<!--end搜索-->
 	
    			</div>
	
    			<!--end头文件右的左-->
	
    		</div>
	
    		<!--end头文件右-->
	
    	</div>
	
    </div>
	
    <!--end头文件-->
	
    
	<div class="h_center w_auto" style="height:93%;">
	
    	<div class="w_w">
	
    		<div class="fl w_230 l_box">
	
    			<ul class="l_nav click_ul">
	
    				<li class="on"><a href="###">首页</a></li>
	
    				<li><a href="###">实时监控</a></li>
	
    				<li><a href="###">隐患管理</a></li>
    
                    <li ><a href="###">日常巡检</a></li>
	
    				<li><a href="###">统计分析</a></li> 
	
    			</ul>
	
    		</div>
	
    		<!--end左边-->
	
    		<div class="r_cell r_box">
	
    			<div class="box_40">
	
    	<div class="white_bj">
	
    		<h4 class="gray_th_b">安装设备</h4>
            
            <div>
            
            	<h1></h1>
            
            </div>
            
			<div class="week">

                <table width="96%" border="0" cellspacing="1" cellpadding="0" style=" margin:auto">
    
                    <tbody>
                    
                    <tr style="    background-color: #0a63c0; line-height: 34px;color: #fff;">
                      
                        <th>项目名称</th>
                        
                        <th>项目地址</th>
                        
                        <th>设备数量</th>
                        
                        <th>责任人</th>
                        
                        <th>联系电话</th>
                        
                        <th>项目识别号</th>
                    
                    </tr>
                   
                    <tr>
                   
                        <td>普陀竞品城市广场</td>
                        
                        <td><a href="/information/" style="cursor:pointer">上海市浦东区城西工业园区康强路33号</a> </td>
                        
                        <td>12</td>
                        
                        <td>张三</td>
                        
                        <td>13806591***</td>
                        
                        <td>201712160002</td>
                   
                    </tr>
                    
                    <tr>
                   
                        <td>普陀竞品城市广场</td>
                        
                        <td><a href="/information/" style="cursor:pointer">上海市浦东区城西工业园区康强路33号</a> </td>
                        
                        <td>12</td>
                        
                        <td>张三</td>
                        
                        <td>13806591***</td>
                        
                        <td>201712160002</td>
                   
                    </tr>
                    
                    <tr>
                   
                        <td>普陀竞品城市广场</td>
                        
                        <td><a href="/information/" style="cursor:pointer">上海市浦东区城西工业园区康强路33号</a> </td>
                        
                        <td>12</td>
                        
                        <td>张三</td>
                        
                        <td>13806591***</td>
                        
                        <td>201712160002</td>
                   
                    </tr>
                    
                    <tr>
                   
                        <td>普陀竞品城市广场</td>
                        
                        <td><a href="/information/" style="cursor:pointer">上海市浦东区城西工业园区康强路33号</a> </td>
                        
                        <td>12</td>
                        
                        <td>张三</td>
                        
                        <td>13806591***</td>
                        
                        <td>201712160002</td>
                   
                    </tr> <tr>
                   
                        <td>普陀竞品城市广场</td>
                        
                        <td><a href="/information/" style="cursor:pointer">上海市浦东区城西工业园区康强路33号</a> </td>
                        
                        <td>12</td>
                        
                        <td>张三</td>
                        
                        <td>13806591***</td>
                        
                        <td>201712160002</td>
                   
                    </tr><tr>
                   
                        <td>普陀竞品城市广场</td>
                        
                        <td><a href="/information/" style="cursor:pointer">上海市浦东区城西工业园区康强路33号</a> </td>
                        
                        <td>12</td>
                        
                        <td>张三</td>
                        
                        <td>13806591***</td>
                        
                        <td>201712160002</td>
                   
                    </tr><tr>
                   
                        <td>普陀竞品城市广场</td>
                        
                        <td><a href="/information/" style="cursor:pointer">上海市浦东区城西工业园区康强路33号</a> </td>
                        
                        <td>12</td>
                        
                        <td>张三</td>
                        
                        <td>13806591***</td>
                        
                        <td>201712160002</td>
                   
                    </tr><tr>
                   
                        <td>普陀竞品城市广场</td>
                        
                        <td><a href="/information/" style="cursor:pointer">上海市浦东区城西工业园区康强路33号</a> </td>
                        
                        <td>12</td>
                        
                        <td>张三</td>
                        
                        <td>13806591***</td>
                        
                        <td>201712160002</td>
                   
                    </tr><tr>
                   
                        <td>普陀竞品城市广场</td>
                        
                        <td><a href="/information/" style="cursor:pointer">上海市浦东区城西工业园区康强路33号</a> </td>
                        
                        <td>12</td>
                        
                        <td>张三</td>
                        
                        <td>13806591***</td>
                        
                        <td>201712160002</td>
                   
                    </tr>
                    
                    <tr>
                   
                        <td>普陀竞品城市广场</td>
                        
                        <td><a href="/information/" style="cursor:pointer">上海市浦东区城西工业园区康强路33号</a> </td>
                        
                        <td>12</td>
                        
                        <td>张三</td>
                        
                        <td>13806591***</td>
                        
                        <td>201712160002</td>
                   
                    </tr>    
                    
                    <tr>
                   
                        <td>普陀竞品城市广场</td>
                        
                        <td><a href="/information/" style="cursor:pointer">上海市浦东区城西工业园区康强路33号</a> </td>
                        
                        <td>12</td>
                        
                        <td>张三</td>
                        
                        <td>13806591***</td>
                        
                        <td>201712160002</td>
                   
                    </tr>
                    
                    <tr>
                   
                        <td>普陀竞品城市广场</td>
                        
                        <td><a href="/information/" style="cursor:pointer">上海市浦东区城西工业园区康强路33号</a> </td>
                        
                        <td>12</td>
                        
                        <td>张三</td>
                        
                        <td>13806591***</td>
                        
                        <td>201712160002</td>
                   
                    </tr>
                    
                    <tr>
                   
                        <td>普陀竞品城市广场</td>
                        
                        <td><a href="/information/" style="cursor:pointer">上海市浦东区城西工业园区康强路33号</a> </td>
                        
                        <td>12</td>
                        
                        <td>张三</td>
                        
                        <td>13806591***</td>
                        
                        <td>201712160002</td>
                   
                    </tr>
                    
                    <tr>
                   
                        <td>普陀竞品城市广场</td>
                        
                        <td><a href="/information/" style="cursor:pointer">上海市浦东区城西工业园区康强路33号</a> </td>
                        
                        <td>12</td>
                        
                        <td>张三</td>
                        
                        <td>13806591***</td>
                        
                        <td>201712160002</td>
                   
                    </tr>
                    
                    <tr>
                   
                        <td>普陀竞品城市广场</td>
                        
                        <td><a href="/information/" style="cursor:pointer">上海市浦东区城西工业园区康强路33号</a> </td>
                        
                        <td>12</td>
                        
                        <td>张三</td>
                        
                        <td>13806591***</td>
                        
                        <td>201712160002</td>
                   
                    </tr>
                    
                    <tr>
                   
                        <td>普陀竞品城市广场</td>
                        
                        <td><a href="/information/" style="cursor:pointer">上海市浦东区城西工业园区康强路33号</a> </td>
                        
                        <td>12</td>
                        
                        <td>张三</td>
                        
                        <td>13806591***</td>
                        
                        <td>201712160002</td>
                   
                    </tr>
                    
                    <tr>
                   
                        <td>普陀竞品城市广场</td>
                        
                        <td><a href="/information/" style="cursor:pointer">上海市浦东区城西工业园区康强路33号</a> </td>
                        
                        <td>12</td>
                        
                        <td>张三</td>
                        
                        <td>13806591***</td>
                        
                        <td>201712160002</td>
                   
                    </tr>
                    
                    <tr>
                   
                        <td>普陀竞品城市广场</td>
                        
                        <td><a href="/information/" style="cursor:pointer">上海市浦东区城西工业园区康强路33号</a> </td>
                        
                        <td>12</td>
                        
                        <td>张三</td>
                        
                        <td>13806591***</td>
                        
                        <td>201712160002</td>
                   
                    </tr>
                    
                    <tr>
                   
                        <td>普陀竞品城市广场</td>
                        
                        <td><a href="/information/" style="cursor:pointer">上海市浦东区城西工业园区康强路33号</a> </td>
                        
                        <td>12</td>
                        
                        <td>张三</td>
                        
                        <td>13806591***</td>
                        
                        <td>201712160002</td>
                   
                    </tr> 
     
                    </tbody>
                    
                    </table>
                    
                <div class="paging_heard">
                 
                 	<ul class="pagination">
                    
                      <li><a href="#">«</a></li>
                    
                      <li><a href="#">1</a></li>
                    
                      <li><a class="active" href="#">2</a></li>
                    
                      <li><a href="#">3</a></li>
                    
                      <li><a href="#">4</a></li>
                    
                      <li><a href="#">5</a></li>
                    
                      <li><a href="#">6</a></li>
                    
                      <li><a href="#">7</a></li>
                      
                      <li><a href="#">8</a></li>
                    
                      <li><a href="#">9</a></li>
                    
                      <li><a href="#">10</a></li>
                    
                      <li><a href="#">11</a></li>
                    
                      <li><a href="#">12</a></li>
                    
                      <li><a href="#">»</a></li>
                    
                    </ul>
                 
                 </div>
    
            </div>
			
            <!--end内容-->
		</div>
		<!--end边框-->
	</div>
				<!--end右白背景-->
			</div>
			<!--end右边-->
		</div>
		<!--end宽度-->
	</div>
	<!--end中间区域-->


<script src="{% static 'js/jquery-1.8.2.min.js' %}"></script>
<script src="{% static 'js/tool.js' %}"></script>





<!--[if IE 6]>
<script type="text/javascript" src="js/DD_belatedPNG.js"></script>
<script>
DD_belatedPNG.fix('.png,.png_img img');
</script>
<![endif]-->


</body>
</html>
