{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>智能后台</title>
    <!-- CSS -->
    <link href="{% static 'assets/css/index.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'assets/css/newIndex.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'assets/css/map.css' %}" rel="stylesheet" type="text/css">
    <link href="//at.alicdn.com/t/font_712992_e1rband30o.css" rel="stylesheet" type="text/css">
    <!--地图-->
    <!-- <script src="http://www.jq22.com/jquery/jquery-1.10.2.js"></script> -->
    <script src="{% static './assets/js/jquery.min.js' %}"></script>
    <script type="text/javascript"
            src="http://webapi.amap.com/maps?v=1.4.4&key=a3fb6f680300410b7547dd55a62af58c"></script>
    <script src="http://webapi.amap.com/ui/1.0/main-async.js"></script>
</head>
<body class="allBg">
<div class="leftCon">
    <div class="commonDiv">
        <div class="work"><p>安装设备</p></div>
        <div class="iconList">
            <ul>
                {% for e in e_ts %}
                    {% if e.name == '烟感' %}
                    <li><img src="{% static 'assets/img/smoke.png' %}"><span>{{e.name}}({{e.count}}个)</span></li>
                    {% elif e.name == '水压' %}
                    <li><img src="{% static 'assets/img/water.png' %}"><span>{{e.name}}({{e.count}}个)</span></li>
                    {% elif e.name == '门磁' %}
                    <li><img src="{% static 'assets/img/Elevator.png' %}"><span>{{e.name}}({{e.count}}个)</span></li>
                    {% endif %}
                {% empty %}
                {% endfor %}
                <!-- <li><img src="{% static 'assets/img/smoke.png' %}"><span>烟感(20个)</span></li>
                <li><img src="{% static 'assets/img/water.png' %}"><span>水压(20个)</span></li>
                <li><img src="{% static 'assets/img/Elevator.png' %}"><span>门禁(20个)</span></li> -->
            </ul>
        </div>
        <div class="iconList2">
            <ul>
                <li><p><a href="/day">日志</a></p></li>
                <li><p><a href="/Week">周志</a></p></li>
                <li><p><a href="/month">月志</a></p></li>
                <li><p><a href="/police_day">日报警</a></p></li>
                <li><p><a href="/police_Week">周报警</a></p></li>
                <li><p><a href="/police_month">月报警</a></p></li>
            </ul>
        </div>
        <div class="backBtn">
            <a href="/index">
                <img src="{% static 'assets/img/home.png' %}">
                <span>返回指挥中心</span>
            </a>
        </div>
    </div>
</div>

<div class="rightCon">
    <div class="commonDiv">
        <div class="work"><p>报警情况</p></div>
        <ul class="alarmList" id="alarmList">

        </ul>
    </div>
</div>

<div id="mapCon"></div>
<div class="logoCon"><img src="{% static 'assets/img/title_logo.png' %}"></div>
<div class="alertInfo">
    <div class="alertInfoCon">
        <i class="iconfont icon-close _rightIcon" onclick="$('.alertInfo').css('z-index','-1')"></i>
        <div style="clear: both;"></div>
        <div class="alertInfoCon2"></div>
    </div>
</div>
<script src="{% static './assets/js/map.js' %}"></script>
</body>
<script type="text/javascript">
    console.log("{{keys}}")
    console.log("{{power}}")
</script>
</html>