{% load static %}
<!doctype html>
<html>
<head>
<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="renderer" content="webkit" />
<meta name="viewport" content="width=1200" />
<title>设备详情</title>
<link rel="stylesheet" type="text/css" href="{% static 'css/css.css' %}">
<!--[if IE 6]>
<script type="text/javascript">
document.execCommand("BackgroundImageCache", false, true);
</script>
<![endif]-->
<!--[if lt IE 9]>
<script type="text/javascript" src="js/html5.js"></script>
<![endif]-->
</head>
<body class="white_body">

	<div class="header w_auto">
	
    	<div class="w_w">
	
    		<h1 class="fl png_img logo"><a href="/com_index/"><img src="{% static 'images/logo.png' %}" alt="" width="100%;"></a></h1>
	
    		<div class="r_cell header_r">
	
    			<ul class="fr header_admin red_link png_img">
					
                    <li class="ann_li">
                    
                        <a href="###">
        
                        	<img src="{% static 'images/icon/admin.png' %}" alt="消息">
                        
                        </a>
	
    					<div class="sec_ann">
	
    						<div class="sec_ann_box round_m">  
    
    						<div class="ann_box"> 
	
    							<p><a href="#">个人中心</a></p>
	
    							<p ><a href="#" >帐号设置</a></p>
	
    							<p ><a href="#">意见反馈</a></p>
	
    							<p><a href="/com_login/" >退出</a></p>
                                	
    						</div>
	
    						</div>
	
    					</div>
     
                         <a href="###">admin</a></li>
                    
    			</ul>
	
    			<!--end关于我-->
	
    			<div class="header_r_l r_cell">
	
    				<div class="h_search fl transition_a">
                    
                        <input type="button" class="png h_search_btn" >
                        
                        <input type="text" class="h_search_text" placeholder="请输入项目名称或选择区域">
                    
                    </div>
	
    				<!--end搜索-->
 	
    			</div>
	
    			<!--end头文件右的左-->
	
    		</div>
	
    		<!--end头文件右-->
	
    	</div>
	
    </div>
	
    <!--end头文件-->
	
    <div class="h_center w_auto" style="height:93%;">
	
    	<div class="w_w">
	
    		<div class="fl w_230 l_box">
	
    			<ul class="l_nav click_ul">
	
    				<li class="on"><a href="#">首页</a></li>
	
    				<li><a href="#">实时监控</a></li>
	
    				<li><a href="#">隐患管理</a></li>
    
                    <li ><a href="#">日常巡检</a></li>
	
    				<li><a href="#">统计分析</a></li> 
	
    			</ul>
	
    		</div>
	
    		<!--end左边-->
	
    		<div class="r_cell r_box">
	
    			<div class="box_40">
    
                    <div class="white_bj">
    
                        <h4 class="gray_th_b">卓顺塑模有限公司智慧用电项目</h4> 
    
                        <div class="equipment_box">
    
                        	<div class="Identification_box">
                        
                        		<div class="Identification">项目识别号：<span>201712160002</span></div> 
                                
                                <div class="untreated">
                                
                                    <div>未处理报警：<span>02</span></div> 
                                    
                                    <div>未处理故障：<span>22</span></div>  
                                
                                </div>
                            
                            </div>
                            
                            <div class="equipment_attribute" style="width:38%;">
                            
                                <div>所属客户：<span>台州市黄岩卓顺塑料模具有限公司</span></div>
                                
                                <div>地址：<span>台州市黄岩区北城西工业园区康强路24号</span></div>
                                
                                <div>建筑面积：<span>120m²</span></div>
                                
                                <div>消防设施：<span>智慧安全用电系统</span></div>
                                
                                <div>安全责任人：<span>张三</span></div>
                                
                                <div>联系电话：<span>13806591***</span></div>
                            
                            </div>
                            
                            <div class="equipment_attribute">
                            
                                <div>设备数量：<span>1</span></div>
                                
                                <div>探测器数量：<span>1</span></div>
                                
                                <div>在线设备数量：<span>1</span></div>
                                
                                <div>失联设备数量：<span>0</span></div> 
                                
							</div>
                                
							<div class="equipment_attribute" >
                                
                                <div>报警探测器数量：<span>1</span></div>
                                
                                <div>故障探测器数量：<span>1</span></div>
                                
                                <div>未处理隐患数量：<span>0</span></div> 
                            
                           </div>
                        
                        </div>
                        
                        <!--end内容-->
          
                    </div> 
          
                    <!--end边框-->
          
                </div>  
                
                <div class="box_40"  style="margin-top:20px;">
          
                    <div class="white_bj">
          
                        <h4 class="gray_th_b">下属设备及探测器</h4> 
                        
                        <div class="week">
            
                            <table width="96%" border="0" cellspacing="1" cellpadding="0" style=" margin:auto">
                
                                <tbody>
                                
                                <tr style="    background-color: #0a63c0; line-height: 34px;color: #fff;">
                                  
                                    <th>设备</th>
                                    
                                    <th>设备地址</th>
                                    
                                    <th>信号强度</th>
                                    
                                    <th>探测器ID</th>
                                    
                                    <th>探测器区域</th>
                                    
                                    <th>探测器位置</th>
                                    
                                    <th>探测器状态</th> 
                                
                                </tr>
                               
                                <tr>
                               
                                    <td>87035739238ZLAN8100</td>
                                    
                                    <td>浙江省台州市黄岩区北城街道北院大道7-1号</td>
                                    
                                    <td>0</td>
                                    
                                    <td>2</td>
                                    
                                    <td>1楼配电房</td>
                                    
                                    <td>3号箱</td>
                                    
                                    <td>正常</td>
                               
                                </tr>     
                 
                                </tbody>
                                
                                </table> 
                
                        </div>
                        
                        <!--end内容-->
 
                    </div> 
 
                    <!--end边框-->
 
                </div> 

				<!--end右白背景-->

			</div> 

			<!--end右边-->

		</div>

		<!--end宽度-->

	</div>

	<!--end中间区域-->

<script src="{% static 'js/jquery-1.8.2.min.js' %}"></script>
<script src="{% static 'js/tool.js' %}"></script>

<!--[if IE 6]>
<script type="text/javascript" src="js/DD_belatedPNG.js"></script>
<script>
DD_belatedPNG.fix('.png,.png_img img');
</script>
<![endif]-->


</body>
</html>
