<!doctype html>
<html>
<head>
<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="renderer" content="webkit" />
<meta name="viewport" content="width=1200" />
<title>新增巡检计划</title>
<link rel="stylesheet" type="text/css" href="/static/static_7.19/css/css.css">
<!--[if IE 6]>
<script type="text/javascript">
document.execCommand("BackgroundImageCache", false, true);
</script>
<![endif]-->
<!--[if lt IE 9]>
<script type="text/javascript" src="js/html5.js"></script>
<![endif]-->
</head>
<body class="white_body">

	<div class="header w_auto">
	
    	<div class="w_w">
	
    		<h1 class="fl png_img logo"><a href="/index/"><img src="/static/static_7.19/images/logo.png" alt="" width="100%;"></a></h1>
	
    		<div class="r_cell header_r">
	
    			<ul class="fr header_admin red_link png_img">
	
    				<li class="ann_li"> 
     
                         <a href="###" style=" line-height:36px; color:#333;">报警<span style=" color:#F04212; font-weight:600;">(5)</span></a>
                         
                         <div class="sec_ann">
	
    						<div class="sec_ann_box round_m">  
    
                                <div class="ann_box"> 
        
                                    <a href="/bj/">
                            
                                        <ul>
                                        
                                            <li >普陀区1号大楼发生报警信息</li>
                                        
                                            <li  class="Statistics_txt" style="float:right;">查看</li>
                                            
                                        </ul>
                                    
                                    </a> 
                                    
                                    <a href="/bj/">
                            
                                        <ul>
                                        
                                            <li >普陀区1号大楼发生报警信息</li>
                                        
                                            <li  class="Statistics_txt" style="float:right;">查看</li>
                                            
                                        </ul>
                                    
                                    </a>
                                    
                                    <a href="/bj/">
                            
                                        <ul>
                                        
                                            <li >普陀区1号大楼发生报警信息</li>
                                        
                                            <li  class="Statistics_txt" style="float:right;">查看</li>
                                            
                                        </ul>
                                    
                                    </a>
                                    <a href="/bj/">
                            
                                        <ul>
                                        
                                            <li >普陀区1号大楼发生报警信息</li>
                                        
                                            <li  class="Statistics_txt" style="float:right;">查看</li>
                                            
                                        </ul>
                                    
                                    </a>
                                    
                                    <a href="/bj/">
                            
                                        <ul>
                                        
                                            <li >普陀区1号大楼发生报警信息</li>
                                        
                                            <li  class="Statistics_txt" style="float:right;">查看</li>
                                            
                                        </ul>
                                    
                                    </a>
                                        
                                </div>
	
    						</div>
	
    					</div>
                         
					</li>
                    
                    
                    <li class="ann_li">
                    
                        <a href="###">
        
                        	<img src="/static/static_7.19/images/icon/admin.png" alt="消息">
                        
                        </a>
	
    					<div class="sec_ann">
	
    						<div class="sec_ann_box round_m">  
    
    						<div class="ann_box"> 
	
    							<p><a href="/grzx/">个人中心</a></p>
	
    							<p ><a href="/zhsz/" >帐号设置</a></p>
	
    							<p ><a href="/fkyj/">意见反馈</a></p>
	
    							<p><a href="/login_out/" >退出</a></p>
                                	
    						</div>
	
    						</div>
	
    					</div>
     
                         <a href="###">{{name}}</a>
                         
					</li>
                         
                </ul>
	
    			<!--end关于我-->
	
    			<div class="header_r_l r_cell">
	
    				<div class="h_search fl transition_a">
                    
                        <input type="button" class="png h_search_btn">
                        
                        <input type="text" class="h_search_text" placeholder="请输入项目名称或选择区域">
                    
                    </div>
	
    				<!--end搜索-->
 	
    			</div>
	
    			<!--end头文件右的左-->
	
    		</div>
	
    		<!--end头文件右-->
	
    	</div>
	
    </div>
	
    <!--end头文件-->

	<div class="h_center w_auto" style="height:93%;">
	
    	<div class="w_w">
	
    		<div class="fl w_230 l_box">
	
    			<div class="containers">

                    <div class="leftsidebar_box">
                    
                        <div class="line"></div>
                    
                        <dl class="system_log">
                    
                            <dt onClick="changeImage(index.htm)">首页 </dt> 
                    
                        </dl>
                    
                        <dl class="custom">
                    
                            <dt onclick="location='/jk/'">实时监控 </dt> 
</dl>
                    
                        <dl class="channel">
                    
                            <dt>隐患管理 
                            
                            	<img src="/static/static_7.19/images/sprite1.png">
                                
                                <img src="/static/static_7.19/images/select_xl01.png">
                            
                            </dt>
                    
                            <dd class="first_dd"><a href="/yhgl/">隐患巡查</a></dd>
                    
                            <dd><a href="/yhcl/">隐患处理</a></dd>
                    
                            <dd><a href="/yhjl/">隐患记录</a></dd> 
                    
                        </dl>
                    
                        <dl class="app">
                    
                            <dt onClick="changeImage()">日常巡检
                            
                            	<img src="/static/static_7.19/images/sprite1.png">
                                
                                <img src="/static/static_7.19/images/select_xl01.png">
                            
                            </dt>
                    
                            <dd class="first_dd"><a href="/xjrl/">巡检日历</a></dd>
                    
                            <dd><a href="/xjjh/">巡检计划</a></dd> 
                    
                        </dl> 
                    
                        <dl class="syetem_management">
                    
                            <dt>统计分析
                            
                            	<img src="/static/static_7.19/images/sprite1.png">
                                
                                <img src="/static/static_7.19/images/select_xl01.png">
                            
                            </dt>
                    
                            <dd class="first_dd"><a href="/summary/">数据汇总</a></dd>
                    
                            <dd><a href="">分析报告</a></dd>
                    
                            <dd><a href="#">隐患统计</a></dd>
                    
                            <dd><a href="/sbgl/">设备管理</a></dd> 
                    
                        </dl>  
                    
                    </div>
                
                </div>

				<script src="http://www.jq22.com/jquery/1.11.1/jquery.min.js"></script>
                
                <script type="text/javascript">
                $(".leftsidebar_box dt").css({"background-color":"#fff"});
                $(".leftsidebar_box dt img").attr("src","/static/static_7.19/images/left/select_xl01.png");
                $(function(){
                    $(".leftsidebar_box dd").hide();
                    $(".leftsidebar_box dt").click(function(){
                        $(".leftsidebar_box dt").css({"background-color":"#fff","color": "rgb(85, 85, 85)"})
                        $(this).css({"background-color": "rgb(10, 99, 192)","color": "rgb(255, 255, 255)"}); 
                        $(this).parent().find('dd').removeClass("menu_chioce");
                        $(".leftsidebar_box dt img").attr("src","/static/static_7.19/images/left/select_xl01.png");
                        $(this).parent().find('img').attr("src","/static/static_7.19/images/left/select_xl.png");
                        $(".menu_chioce").slideUp(); 
                        $(this).parent().find('dd').slideToggle();
                        $(this).parent().find('dd').addClass("menu_chioce");
                    });
                })
                </script>
	
    		</div>
	
    		<!--end左边-->
	
    		<div class="r_cell r_box">
	
    			<div class="box_40">
	
                    <div class="white_bj">
                
                        <h4 class="gray_th_b">新增巡检计划</h4> 
                        
                        <br/>
                        
                        <div class="screen_search"> 
                                
                                <div class="increase_box">
                                
                                    <h1> <span style="color:#f4634c;">*&nbsp;&nbsp;</span>计划名称：</h1>   
                                    
                                    <input size="16" type="text" class="form_datejh" value="请输入计划名称 ">
                                
                                </div>   
                                 
                            
						</div>
                        
                         <div class="screen_search"> 
                                
                                <div class="increase_box">
                                
                                    <h1> <span style="color:#f4634c;">*&nbsp;&nbsp;</span>计划任务：</h1>   
                                    
                                    <input size="16" type="text" class="form_datejh" value="请输入计划名称 ">
                                
                                </div>   
                                 
						</div>
                        
                        <div class="screen_search"> 
                                
                                <div class="increase_box">
                                
                                    <h1> <span style="color:#f4634c;">*&nbsp;&nbsp;</span>巡检频率：</h1>   
                                    
                                    <select class="search_projectid">
                                  
                                        <option value="">天</option>
                                      
                                        <option value="201712160002">周</option>
                                      
                                        <option value="201712160004">月</option> 
                                  
                                    </select>
                                
                                </div>   
                                 
						</div>
                        
                        <div class="screen_search"> 
                                
                                <div class="increase_box">
                                
                                    <h1> <span style="color:#f4634c;">*&nbsp;&nbsp;</span>设备ID：</h1>   
                                    
                                    <input size="16" type="text" class="form_datejh" value="请输入设备ID ">
                                
                                </div>   
                                 
						</div>
                        
                        <div class="screen_search"> 
                                
                                <div class="increase_box">
                                
                                    <h1> <span style="color:#f4634c;">*&nbsp;&nbsp;</span>开始时间：</h1>   
                                    
                                    <input size="16" type="text" class="form_datejh" value="请输入开始时间 ">
                                
                                </div>   
                                 
						</div>
                        
                        <div class="screen_search"> 
                                
                                <div class="increase_box">
                                
                                    <h1> <span style="color:#f4634c;">*&nbsp;&nbsp;</span>结束时间：</h1>   
                                    
                                    <input size="16" type="text" class="form_datejh" value="请输计结束时间 ">
                                
                                </div>   
                            
						</div>
                        
                        <div class="screen_search"> 
                                
                                <div class="increase_box">
                                
                                    <h1> <span style="color:#f4634c;">*&nbsp;&nbsp;</span>创建时间：</h1>   
                                    
                                    <input size="16" type="text" class="form_datejh" value="请输入创建时间 ">
                                
                                </div>   
                                 
						</div>
                        
                        <div class="button_box">
                        
                            <a href="">
                            
                                <div class="bc_button">新增</div>
                            
                            </a>
                            
                            <a href="">
                            
                                <div class="gb_button">取消</div>
                            
                            </a>
                        
                        </div>
                        
                        <!--end内容-->
                        
                    </div>
            
                    <!--end边框-->
            
                </div>
		
        		<!--end右白背景-->
		
        	</div>
		
        	<!--end右边-->
		
        </div>
		
        <!--end宽度-->
	
    </div>

	<!--end中间区域-->

<script src="/static/static_7.19/js/jquery-1.8.2.min.js"></script>
<script src="/static/static_7.19/js/tool.js"></script>

<!--[if IE 6]>
<script type="text/javascript" src="js/DD_belatedPNG.js"></script>
<script>
DD_belatedPNG.fix('.png,.png_img img');
</script>
<![endif]-->


</body>
</html>
